config/oauth.json
config/channel_id
.ipynb_checkpoints

.vscode/*

/build/
!/build/.gitignore

/src/py_wraps/config/oauth.json
src/py_wraps/py_files/__pycache__/*

*.ipynb
demo_ui/end_2_end_playlist.cpp
demo_ui/music_selector.cpp
.cache/

compile_commands.json
